.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: $color-dark;
  overflow: hidden;
  height: 2px;
  margin-bottom: -2px;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $color-base-bg;
  height: 2px;
  margin-bottom: -2px;
}
