@import "compass/typography/links/link-colors";
@import "compass/layout/sticky-footer";
    
a {  
	text-decoration: none;
	// link-colors($normal, $hover, $active, $visited, $focus)
  @include link-colors($color-dark, $color-brand, $color-brand, $color-dark, $color-brand)
}

@include sticky-footer($base-unit-xl * 1rem, ".page", ".push-footer", ".footer");

html {
	background-color: $color-base-bg;
  font-family: 'Roboto', sans-serif;
  color: $color-base-text;
}

h1, .xxl {
  font-weight: 700; 

}

h2, .xl {
  letter-spacing: -0.01em;
  font-weight: 700; 
}

h4, .m {

}
h5, .s, h6, .xs  {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

blockquote {
	color: $color-dark;
}

b, strong, .strong {
  font-weight: 700;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.height-full {
	min-height: 100%;
}

.height-unit-l {
	height: $base-unit * $base-unit-l * 1rem;
}

.margin-left-s {
	margin-left: $base-unit-s * 1rem; 
}

hr {
	border: 0;
	height: 0;
	border-top: 1px dotted $color-neutral;
	margin-bottom: $base-unit-xs - $base-unit-xxs * 1rem;
}

.pad {
	padding: 16px;
}

.pad-h {
	padding-right: 16px;
	padding-left: 16px;
}

.label {
	padding: 0 0.8em;
	text-align: center;
	color: white;
	background-color: #bcb9af;
}

.label-color {
	padding: 0 0.8em;
	text-align: center;
	color: white;
	background-color: #9b4458;
	margin-bottom: 0.75rem;
}

.label-small-color {
	padding: 0.2em 0.6em 0.25em 0.5em;
	text-align: center;
	color: white;
	background-color: #9b4458;
}

.relative {
	position: relative;
}
.labels {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#content, #content img {
	opacity: 1; 
}
.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}


.menu a {
  padding: $base-unit-s * 1rem  $base-unit-s * 1rem  $base-unit-s * 1rem (7.5 - $base-unit-xxs) * 1rem;
  display: block;
  border-left: $base-unit-xxs * 1rem solid $color-base-bg;
  margin-right: 1.5em;
}

.menu a.active, .menu a:hover {
  color: $color-brand;
  border-left: $base-unit-xxs * 1rem solid $color-clear;
}

.menu a.active, .menu a.active:hover {
  color: $color-brand;
  border-left: $base-unit-xxs * 1rem solid $color-brand;
}

@media (min-width: 48rem) {
  .menu {
    padding-left: 7.5rem;
  }
  .menu a {
    width: 6 * 1rem;
    float: left;
    padding-left: 0;
    padding-top: ($base-unit-s - $base-unit-xxs) * 1rem;
    border-top: $base-unit-xxs * 1rem solid $color-base-bg;
    border-left: 0 none $color-base-bg;
  }
  .menu a:hover {
    border-top: $base-unit-xxs * 1rem solid $color-clear;
    border-left: 0 none $color-base-bg;
  }
  .menu a.active, .menu a.active:hover {
    color: $color-brand;
    border-top: $base-unit-xxs * 1rem solid $color-brand;
    border-left: 0 none $color-base-bg;
  }
}

@media (min-width: 63rem) {
  .menu {
    float: right;
    padding-left: 0;
  }
  .menu a {
    padding-top: ($base-unit-xl - $base-unit-xxs) * 1rem;
  }
  .menu a.active, .menu a.active:hover {
    color: $color-brand;
  }
}


.main-picture {
  height: 512px;
  background-color: $color-dark;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: $color-clear 10px solid;
}
.circle div {
    display: block;
/* Stretch 
      height: 100%;
      width: 100%; */
min-width: 100%;
min-height: 100%;
}

.icon {
  font-size: 1.5em;
}
